<app-navbar></app-navbar>
<div class="container mb-5 mt-5">
    <h1 class="text-center mb-3">Contact Us</h1> 
    <form>
        <div class="row">
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter Your First Name">
            </div>
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter Your Last Name">
            </div>
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter Your Email Address">
            </div>
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter Your Phone Number">
            </div>
            <div class="col-lg-6 mt-2 mb-2">
                <button class="btn btn-md btn-dark">Submit</button>
            </div>
        </div>
    </form>
</div>
<app-footer></app-footer>