<app-navbar></app-navbar>
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-6" *ngIf="product">
            <a [routerLink]="['/menu']" class="btn btn-sm btn-dark mb-3">Back</a>
            <img src="{{imageDirectorypathProducts}}{{product.productImg}}" width="100%"/>
            <h1 class="mt-3">{{product.productName}}</h1>
            <p >{{product.productDetails}}</p>
            <p >{{product.productPrice | currency: '$'}}</p>
        </div>
        <div class="col-lg-6 col-lg-12">
            <h1>Fill Details</h1>   
            <form>
                <input type="text" class="form-control" placeholder="Enter Your Full Name"/>
                <input type="text" class="form-control"  placeholder="Enter Your Phone Number"/>
                <textarea class="form-control"  placeholder="Enter Your Address"></textarea>
                <button class="btn btn-md btn-dark mt-3">Place Your Order</button>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer> 