     <!-- navigation starts -->
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" [routerLink]="['']">CloudKit</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['']" routerLinkActive="active-link" >Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/menu']" routerLinkActive="active-link">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" [routerLink]="['about']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " [routerLink]="['/contact']" routerLinkActive="active-link">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <!-- navigation ends -->
    <!-- about us section starts  -->

    <section class="ftco-wrap-about" id="about">
        <div class="intro">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="intro_content">
                            <div class="intro_subtitle page_subtitle">About Us</div>
                            <div class="intro_title">
                                <h2>Beautiful Story</h2>
                            </div>
                            <div class="intro_text">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, voluptatum, earum
                                    corrupti molestiae id, alias quaerat qui expedita voluptatibus sed magnam aperiam
                                    quos! Illum quo nobis repellat possimus alias reiciendis quas pariatur, labore
                                    maxime blanditiis. Nam perferendis veritatis necessitatibus? Animi distinctio at et
                                    assumenda doloremque possimus unde doloribus aliquid nobis.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-md-6 intro_col">
                                <div class="intro_image"><img src="/../../../assets/img/intro_1.jpg" alt="intro"></div>
                            </div>
                            <div class="col-xl-4 col-md-6 intro_col">
                                <div class="intro_image"><img src="/../../../assets/img/intro_2.jpg" alt="intro"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-counter img ftco-no-pt" id="section-counter">
        <div class="container">
            <div class="row d-md-flex">
                <div class="col-md-9">
                    <div class="row d-md-flex align-items-center">
                        <div
                            class="col-md-6 col-lg-3 mb-4 mb-lg-0 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18">
                                <div class="text">
                                    <strong class="number" data-number="11">0</strong>
                                    <span>Years of Experience</span>
                                </div>
                            </div>
                        </div>
                        <div
                            class="col-md-6 col-lg-3 mb-4 mb-lg-0 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18">
                                <div class="text">
                                    <strong class="number" data-number="100">0</strong>
                                    <span>Cakes/Variety</span>
                                </div>
                            </div>
                        </div>
                        <div
                            class="col-md-6 col-lg-3 mb-4 mb-lg-0 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18">
                                <div class="text">
                                    <strong class="number" data-number="30">0</strong>
                                    <span>Staffs</span>
                                </div>
                            </div>
                        </div>
                        <div
                            class="col-md-6 col-lg-3 mb-4 mb-lg-0 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18">
                                <div class="text">
                                    <strong class="number" data-number="1500">0</strong>
                                    <span>Happy Customers</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center text-md-left">
                    <p>The amount of love gained by you people is just pure and we are keep on improving our services
                        and tastes.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- about us section ends  -->
    <div class="container-fluid footer mt-5">
        <div class="row">
            <div class="col-lg-6 mt-3 mb-3">
                <!--name-->
                <h1>CloudKit</h1>
                <p> GOOD FOOD, GOOD EAT</p>
            </div>
            <!--nav-->
            <div class="col-lg-4 mt-3 mb-3">
                <a [routerLink]="['']">Home</a>
                <a [routerLink]="['/menu']">Menu</a>
                <a [routerLink]="['about']">About</a>
                <a [routerLink]="['/contact']">Contact</a>
            </div>
            <!--socialmedia-->
            <div class="col-lg-2 mt-3 mb-3">
                <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
                <a href="https://www.youtube.com/" target="_blank"><i class="bi bi-youtube"></i></a>
            </div>
        </div>
    </div>
