     <!-- navigation starts -->
     <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a [routerLink]="['']" class="navbar-brand">Beleniss</a>

            <div class="collpase navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a [routerLink]="['']" class="nav-link">Home</a></li>
                    <li class="nav-item"><a [routerLink]="['about']" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="#gallery" class="nav-link">Gallery</a></li>
                    <li class="nav-item"><a [routerLink]="['menu']" class="nav-link">Menu</a></li>
                    <li class="nav-item"><a href="#testimonial" class="nav-link">Testimonials</a></li>
                    <li class="nav-item"><a href="#chef" class="nav-link">Chef</a></li>
                    <li class="nav-item cta"><a [routerLink]="['order, order.id']" class="nav-link">Order a cake</a></li>
                    <li class="nav-item"><a href="#blog" class="nav-link">Blog</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- navigation ends -->
    <!-- about us section starts  -->

    <section class="ftco-wrap-about" id="about">
        <div class="intro">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="intro_content">
                            <div class="intro_subtitle page_subtitle">About Us</div>
                            <div class="intro_title">
                                <h2>Beautiful Story</h2>
                            </div>
                            <div class="intro_text">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, voluptatum, earum
                                    corrupti molestiae id, alias quaerat qui expedita voluptatibus sed magnam aperiam
                                    quos! Illum quo nobis repellat possimus alias reiciendis quas pariatur, labore
                                    maxime blanditiis. Nam perferendis veritatis necessitatibus? Animi distinctio at et
                                    assumenda doloremque possimus unde doloribus aliquid nobis.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-md-6 intro_col">
                                <div class="intro_image"><img src="/../../../assets/images/intro_1.jpg" alt="intro"></div>
                            </div>
                            <div class="col-xl-4 col-md-6 intro_col">
                                <div class="intro_image"><img src="/../../../assets/images/intro_2.jpg" alt="intro"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-counter img ftco-no-pt" id="section-counter">
        <div class="container">
            <div class="row d-md-flex">
                <div class="col-md-9">
                    <div class="row d-md-flex align-items-center">
                        <div
                            class="col-md-6 col-lg-3 mb-4 mb-lg-0 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18">
                                <div class="text">
                                    <strong class="number" data-number="11">0</strong>
                                    <span>Years of Experience</span>
                                </div>
                            </div>
                        </div>
                        <div
                            class="col-md-6 col-lg-3 mb-4 mb-lg-0 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18">
                                <div class="text">
                                    <strong class="number" data-number="100">0</strong>
                                    <span>Cakes/Variety</span>
                                </div>
                            </div>
                        </div>
                        <div
                            class="col-md-6 col-lg-3 mb-4 mb-lg-0 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18">
                                <div class="text">
                                    <strong class="number" data-number="30">0</strong>
                                    <span>Staffs</span>
                                </div>
                            </div>
                        </div>
                        <div
                            class="col-md-6 col-lg-3 mb-4 mb-lg-0 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18">
                                <div class="text">
                                    <strong class="number" data-number="1500">0</strong>
                                    <span>Happy Customers</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center text-md-left">
                    <p>The amount of love gained by you people is just pure and we are keep on improving our services
                        and tastes.</p>
                </div>
            </div>
        </div>
    </section>


    <!-- about us section ends  -->
      <!-- footer section starts -->
      <section class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-6 col-lg-3">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Beleniss</h2>
                        <p>We serve and take all type of cake orders. You can personalised cake of your own choice. We
                            have the best chef in the city working for us and happying serving to you.
                            <br><br><br>
                            Belenisscake@gmail.com
                            <br>
                            8888888888
                        </p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                            <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Open Hours</h2>
                        <ul class="list-unstyled open-hours">
                            <li class="d-flex"><span>Monday</span><span>9:00 - 24:00</span></li>
                            <li class="d-flex"><span>Tuesday</span><span>9:00 - 24:00</span></li>
                            <li class="d-flex"><span>Wednesday</span><span>9:00 - 24:00</span></li>
                            <li class="d-flex"><span>Thursday</span><span>9:00 - 24:00</span></li>
                            <li class="d-flex"><span>Friday</span><span>9:00 - 02:00</span></li>
                            <li class="d-flex"><span>Saturday</span><span>9:00 - 02:00</span></li>
                            <li class="d-flex"><span>Sunday</span><span> 9:00 - 02:00</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Instagram</h2>
                        <div class="thumb d-sm-flex">
                            <a href="#" class="thumb-menu img" style="background-image: url(/../../../assets/images/insta-1.jpg);"></a>
                            <a href="#" class="thumb-menu img" style="background-image: url(/../../../assets/images/insta-2.jpg);"></a>
                            <a href="#" class="thumb-menu img" style="background-image: url(/../../../assets/images/insta-3.jpg);"></a>
                        </div>
                        <div class="thumb d-sm-flex">
                            <a href="#" class="thumb-menu img" style="background-image: url(/../../../assets/images/insta-4.jpg);"></a>
                            <a href="#" class="thumb-menu img" style="background-image: url(/../../../assets/images/insta-5.jpg);"></a>
                            <a href="#" class="thumb-menu img" style="background-image: url(/../../../assets/images/insta-6.jpg);"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Newsletter</h2>
                        <p>To get cake catalogue every month by subscribing below.</p>
                        <form action="#" class="subscribe-form">
                            <div class="form-group">
                                <input type="text" class="form-control mb-2 text-center"
                                    placeholder="johndoe@gmail.com">
                                <input type="submit" value="Subscribe" class="form-control submit px-3">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- footer section ends -->
