<div *ngIf="redir; else dashboard">
   <app-navbar></app-navbar>
    <div class="banner">
        <div class="content">
            <h1 class="mb-5">Fresh Cooked Food<br/>At Your Door.</h1>
            <a [routerLink]="['menu']">ORDER NOW <i class="bi bi-arrow-right"></i></a>
        </div>
    </div>
    <div class="container mt-5 mb-5">
        <h1 class="text-center">How To Get <span class="highlight">Food</span></h1>
        <div class="row mt-5">
            <!--one-->
            <div class="col-lg-4 mt-2">
                <div class="stepBox">
                    <h1>1</h1>
                    <p>Choose Your Product</p>
                </div>
            </div>
            <!--two-->
            <div class="col-lg-4 mt-2">
                <div class="stepBox">
                    <h1>2</h1>
                    <p>Provide Us With Your Address</p>
                </div>
            </div>
            <!--three-->
            <div class="col-lg-4 mt-2">
                <div class="stepBox">
                    <h1>3</h1>
                    <p>Your Order Will Be Delivered In A Minute</p>
                </div>
            </div>
        </div>
    </div>
    
    <!--productbox-->
    <div class="container mt-4 mb-4">
        <h1 class="text-center">Customers <span class="highlight">FAVORITE Products</span></h1>
        <div class="row">
            <div class="col-lg-3 mt-3" *ngFor="let product of products">
                <div class="productbox">
                    <img src="{{imageDirectorypathProducts}}{{product.productImg}}"/>
                    <h1 class="text-center">{{product.productName}}</h1>
                    <p class="text-center">{{product.productPrice | currency: '$'}}</p>
                </div>
            </div>
        </div>
        <a [routerLink]="['menu']" class="viewmorebtn">see more <i class="bi bi-arrow-right"></i></a>
    </div>
    <app-footer></app-footer>
</div>
<ng-template #dashboard>
    <td><button class="btn btn-warning btn-sm mx-2" routerLink="addcategory">Add</button></td>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Details</th>
                <th>Action</th>
            </tr>    
        </thead>
        <tbody>
            <tr *ngFor="let category of categories">
                <th scope="row">{{category.id}}</th>
                <td><img src="{{imageDirectorypath}}{{category.categoryImg}}" height="100px"/></td>
                <td >{{category.categoryName}}</td>
                <td >{{category.categoryDetails}}</td>
                <td><button class="btn btn-danger btn-sm" (click)="deleteData(category.id)">Delete</button></td>
                <td><button class="btn btn-warning btn-sm mx-2" routerLink="/updatecategory/{{category.id}}">Update</button></td>
                <td><button class="btn btn-primary btn-sm mx-2" routerLink="/products/{{category.id}}">View Products</button></td>
            </tr>
        </tbody>
    </table>
</ng-template>
