<form (ngSubmit)="updateCategory()" >
    <div class="form-group">
        <label for="categoryName">Name</label>
        <input type="text" name="categoryName" class="text form-control" [(ngModel)]="category.categoryName">
        <label for="categoryDetails">Details</label>
        <input type="text" name="categoryDetails" class="text form-control" [(ngModel)]="category.categoryDetails">
        <label for="categoryImg">Image</label>
        <input type="file" name="categoryImg" class="text form-control" [(ngModel)]="category.categoryImg">
    </div>
    <button class="btn btn-dark btn -sm mt-4" >Submit</button>
    <button class="btn btn-dark" [routerLink]="['']">Back</button>
</form>